# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

log/development.log
tmp/pids/server.pid
tmp/cache/assets/sprockets/v3.0/5m/5m-B0niEtBtH0RPaQS_wG-BE-5Ib_LiJkY5yszB5CII.cache
tmp/cache/assets/sprockets/v3.0/5m/5m-B0niEtBtH0RPaQS_wG-BE-5Ib_LiJkY5yszB5CII.cache
tmp/cache/assets/sprockets/v3.0/Zo/ZoXYVjpsGaBAUhF9nUVmBIxysR2KrboeX1Ixo_JoC7w.cache
tmp/cache/assets/sprockets/v3.0/xW/xWEbzOZBoFXIjIDgvKKFxgKJGAD7RqDZtt-qz3KIQFw.cache
db/development.sqlite3
db/test.sqlite3
db/test.sqlite3
db/development.sqlite3
db/development.sqlite3
.byebug_history
db/test.sqlite3
db/test.sqlite3