<div class="alert alert-<%=cls%>" role="alert">
  <span id="text"></span>
  <%=icon({cls:'remove pull-right pointer close-btn', clk:'closeThis($(this).parent())'})%>
</div>
<!-- red = #F2DEDE -->
<!-- green = #DFF0D8  -->
