
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="">
        <img alt="Brand" src="">
      </a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <%navs.each do |nav|%>
          <li class='<%=active(nav[:url], nav[:contr])%>'>
            <a href="<%=nav[:url][0]%>"><%=nav[:text]%></a>
          </li>
        <%end%>
      </ul>
    </div>
  </div>
</nav>
