@import "bootstrap-sprockets"
@import "bootstrap"


// CUSTOM
.alert
  padding: 5px 3px
  margin: 0
  display: none



// MY CLASSES
.pointer
  cursor: pointer
.close-btn
  line-height: 0.5
#results
  height: 35px
  margin-bottom: 5px
