// question#show
.panel{
  margin-bottom: 5px;
  .panel-heading h2{margin: 0}
  .panel-body {padding: 0}

  .checked{
    background: #FFF5AF; //#FFF583;
    &:hover{
      background: #FFF591; //#fff266
    }
  }
  .wrong{
    background: #F2DEDE;
    &:hover{
      background: #F2DEDE !important;
    }
  }
  .right{
    background: #DFF0D8;
    &:hover{
      background: #DFF0D8 !important;
    }
  }
}

// question#new
form[for='new_question'] {
  .form-group{margin-bottom: 0;}
  .panel-heading{
    padding: 10px 0px;
  }
  .panel-body{
    .control-label{margin-top: -10px;}
    padding-top: 10px;
  }

}
